<div class="mat-typography dialog-border-accent">
  <h1 mat-dialog-title>{{data.title}}</h1>
  <div mat-dialog-content [innerHTML]="data.htmlMessage" *ngIf="data.htmlMessage">
  </div>
  <div mat-dialog-content *ngIf="data.message">
    {{data.message}}
  </div>
  <div mat-dialog-content>
    {{applicationUserContext.getCulturedRessourceText(351)}}
  </div>
  <div mat-dialog-actions>
    <button mat-button mat-dialog-close="no">{{applicationUserContext.getCulturedRessourceText(347)}}</button>
    <button mat-button mat-dialog-close="yes" cdkFocusInitial>{{applicationUserContext.getCulturedRessourceText(338)}}</button>
  </div>
</div>
