<div class="ev-main-container">
  <header>
    <div class="ev-taskbar-container">
      <div class="ev-taskbar-left-container">
        <button mat-raised-button color="primary" class="ev-button-left" type="button" (click)="onSave()" form="MyForm" [disabled]="form.invalid || loading">{{applicationUserContext.getCulturedRessourceText(676)}}</button>
      </div>
    </div>
  </header>
  <form id="MyForm" [formGroup]="form" class="ev-vertical-container">
    <div class="boxDoubleSize">
      <table class="cadre_primary">
        <tr>
          <td class="cadre_header_primary">
            {{documentTypeLabel}}
          </td>
        </tr>
        <tr>
          <td class="cadre_body">
            <mat-form-field style="width:100%;">
              <mat-label>{{applicationUserContext.getCulturedRessourceText(722)}}</mat-label>
              <mat-select formControlName="DocumentTypeList"
                          required [errorStateMatcher]="matcher" (selectionChange)="onDocumentTypeSelected($event.value)">
                <mat-option *ngFor="let documentType of documentTypeList" [value]="documentType"
                            matTooltip={{documentType.Description}}>{{documentType.Libelle}}</mat-option>
              </mat-select>
              <button *ngIf="form.get('DocumentTypeList').value && form.get('DocumentTypeList').enabled" matIconSuffix mat-icon-button aria-label="Supprimer" tabindex="-1" type="button" (click)="$event.stopPropagation(); onDocumentTypeSelected(null)">
                <mat-icon>close</mat-icon>
              </button>
              <mat-error align="end" *ngIf="form.get('DocumentTypeList').errors?.required">{{applicationUserContext.getCulturedRessourceText(293)}}</mat-error>
            </mat-form-field>
            <mat-form-field class="ev-date-picker" style="width:100%;" *ngIf="form.get('DocumentTypeList').value?.RefDocumentType == RefDocumentType.EmailNoteCreditCollectivite">
              <mat-label>{{applicationUserContext.getCulturedRessourceText(1078)}}</mat-label>
              <input matInput [matDatepicker]="pickerD" formControlName="D"
                     [errorStateMatcher]="matcher" (dateChange)="onDDateChange($event.value)">
              <mat-datepicker-toggle matIconPrefix [for]="pickerD"></mat-datepicker-toggle>
              <mat-datepicker #pickerD></mat-datepicker>
              <button *ngIf="form.get('D').value && form.get('D').enabled" matIconSuffix mat-icon-button aria-label="Supprimer" tabindex="-1" type="button" (click)="onDDateChange(null)">
                <mat-icon>close</mat-icon>
              </button>
              <mat-error align="end" *ngIf="form.get('D').errors?.required">{{applicationUserContext.getCulturedRessourceText(293)}}</mat-error>
              <mat-hint align="end">{{applicationUserContext.getCulturedRessourceText(1079)}}</mat-hint>
            </mat-form-field>
            <mat-form-field style="width:100%;" *ngIf="form.get('DocumentTypeList').value?.RefDocumentType == RefDocumentType.IncitationQualite
                            || form.get('DocumentTypeList').value?.RefDocumentType == RefDocumentType.ReportingCollectiviteElu
                            || form.get('DocumentTypeList').value?.RefDocumentType == RefDocumentType.ReportingCollectiviteGrandPublic">
              <mat-label>{{applicationUserContext.getCulturedRessourceText(569)}}</mat-label>
              <mat-select formControlName="YearList"
                          required [errorStateMatcher]="matcher" (selectionChange)="onYearSelected($event.value)">
                <mat-option *ngFor="let year of yearList" [value]="year.y">{{year.y}}</mat-option>
              </mat-select>
              <button *ngIf="form.get('YearList').value && form.get('YearList').enabled" matIconSuffix mat-icon-button aria-label="Supprimer" tabindex="-1" type="button" (click)="onYearSelected(null)">
                <mat-icon>close</mat-icon>
              </button>
              <mat-error align="end" *ngIf="form.get('YearList').errors?.required">{{applicationUserContext.getCulturedRessourceText(293)}}</mat-error>
            </mat-form-field>
            <mat-form-field style="width:100%;">
              <mat-label>{{applicationUserContext.getCulturedRessourceText(1007)}}</mat-label>
              <mat-select formControlName="ParamEmailList" required [errorStateMatcher]="matcher">
                <mat-option *ngFor="let paramEmail of paramEmailList" [value]="paramEmail.RefParamEmail">{{paramEmail.LibelleExpediteur}}</mat-option>
              </mat-select>
              <button *ngIf="form.get('ParamEmailList').value && form.get('ParamEmailList').enabled" matIconSuffix mat-icon-button aria-label="Supprimer" (click)="$event.stopPropagation(); form.get('ParamEmailList').setValue(null)" tabindex="-1" type="button">
                <mat-icon>close</mat-icon>
              </button>
              <mat-error align="end" *ngIf="form.get('ParamEmailList').errors?.required">{{applicationUserContext.getCulturedRessourceText(293)}}</mat-error>
            </mat-form-field>
            <kendo-editor formControlName="EmailHTMLBody" style="height: 400px;">
              <kendo-toolbar>
                <kendo-toolbar-buttongroup>
                  <kendo-toolbar-button kendoEditorBoldButton></kendo-toolbar-button>
                  <kendo-toolbar-button kendoEditorItalicButton></kendo-toolbar-button>
                  <kendo-toolbar-button kendoEditorUnderlineButton></kendo-toolbar-button>
                </kendo-toolbar-buttongroup>
                <kendo-toolbar-buttongroup>
                  <kendo-toolbar-button kendoEditorAlignLeftButton></kendo-toolbar-button>
                  <kendo-toolbar-button kendoEditorAlignCenterButton></kendo-toolbar-button>
                  <kendo-toolbar-button kendoEditorAlignRightButton></kendo-toolbar-button>
                  <kendo-toolbar-button kendoEditorAlignJustifyButton></kendo-toolbar-button>
                </kendo-toolbar-buttongroup>
                <kendo-toolbar-dropdownlist kendoEditorFontSize></kendo-toolbar-dropdownlist>
                <kendo-toolbar-dropdownlist kendoEditorFontFamily [data]="kendoFontData"></kendo-toolbar-dropdownlist>
                <kendo-toolbar-colorpicker kendoEditorForeColor></kendo-toolbar-colorpicker>
                <kendo-toolbar-colorpicker kendoEditorBackColor></kendo-toolbar-colorpicker>
                <kendo-toolbar-buttongroup>
                  <kendo-toolbar-button kendoEditorInsertUnorderedListButton></kendo-toolbar-button>
                  <kendo-toolbar-button kendoEditorInsertOrderedListButton></kendo-toolbar-button>
                </kendo-toolbar-buttongroup>
                <kendo-toolbar-buttongroup>
                  <kendo-toolbar-button kendoEditorCreateLinkButton></kendo-toolbar-button>
                  <kendo-toolbar-button kendoEditorUnlinkButton></kendo-toolbar-button>
                </kendo-toolbar-buttongroup>
                <kendo-toolbar-button kendoEditorViewSourceButton></kendo-toolbar-button>
              </kendo-toolbar>
              <kendo-editor-messages [bold]="applicationUserContext.getCulturedRessourceText(1479)"
                                     [italic]="applicationUserContext.getCulturedRessourceText(1480)"
                                     [underline]="applicationUserContext.getCulturedRessourceText(1481)"
                                     [alignLeft]="applicationUserContext.getCulturedRessourceText(1482)"
                                     [alignCenter]="applicationUserContext.getCulturedRessourceText(1483)"
                                     [alignRight]="applicationUserContext.getCulturedRessourceText(1484)"
                                     [alignJustify]="applicationUserContext.getCulturedRessourceText(1485)"
                                     [fontFamily]="applicationUserContext.getCulturedRessourceText(1486)"
                                     [fontSize]="applicationUserContext.getCulturedRessourceText(1487)"
                                     [foreColor]="applicationUserContext.getCulturedRessourceText(1488)"
                                     [backColor]="applicationUserContext.getCulturedRessourceText(1494)"
                                     [insertOrderedList]="applicationUserContext.getCulturedRessourceText(1489)"
                                     [insertUnorderedList]="applicationUserContext.getCulturedRessourceText(1490)"
                                     [createLink]="applicationUserContext.getCulturedRessourceText(1491)"
                                     [unlink]="applicationUserContext.getCulturedRessourceText(1492)"
                                     [viewSource]="applicationUserContext.getCulturedRessourceText(1493)"
                                     [dialogUpdate]="applicationUserContext.getCulturedRessourceText(682)"
                                     [dialogCancel]="applicationUserContext.getCulturedRessourceText(133)"
                                     [dialogInsert]="applicationUserContext.getCulturedRessourceText(598)"
                                     [linkOpenInNewWindow]="applicationUserContext.getCulturedRessourceText(1496)"
                                     [linkText]="applicationUserContext.getCulturedRessourceText(1497)"
                                     [linkTitle]="applicationUserContext.getCulturedRessourceText(1149)"
                                     [linkWebAddress]="applicationUserContext.getCulturedRessourceText(1495)"></kendo-editor-messages>
            </kendo-editor>
          </td>
        </tr>
      </table>
    </div>
    <grid-simple [type]="refDocumentTypeLabel" *ngIf="refDocumentTypeLabel" style="padding: 0 10px 0 10px;"></grid-simple>
  </form>
  <footer class="ev-footer"></footer>
</div>
<progress-bar [color]="color" [mode]="mode" [value]="value" [backdropEnabled]="true"
              [displayProgressBar]="displayProgressBar" position="GloballyTop">
</progress-bar>

