<div class="ev-main-container">
  <header>
    <div class="ev-taskbar-container">
      <div class="ev-taskbar-left-container">
        <mat-icon class="ev-button-left color-tooltip-info-icon" [matTooltip]="getCreationTooltipText()">info</mat-icon>
        <button mat-raised-button color="primary" [disabled]="form.invalid" class="ev-button-left" type="button" (click)="onSave()"
                *ngIf="!locked">
          {{applicationUserContext.getCulturedRessourceText(45)}}
        </button>
      </div>
      <div class="ev-taskbar-right-container">
        <button mat-raised-button color="warn" class="ev-button-left" type="button" mat-dialog-close="">
          {{applicationUserContext.getCulturedRessourceText(133)}}
        </button>
      </div>
    </div>
  </header>
  <form id="MyForm" [formGroup]="form" class="ev-dataform-container">
    <mat-form-field style="width:100%;">
      <mat-label>{{applicationUserContext.getCulturedRessourceText(19)}}</mat-label>
      <mat-select formControlName="ProduitList"
                  required [errorStateMatcher]="matcher">
        <mat-option>
          <ngx-mat-select-search formControlName="ProduitListFilter" placeholderLabel={{applicationUserContext.getCulturedRessourceText(440)}}
                                 noEntriesFoundLabel={{applicationUserContext.getCulturedRessourceText(730)}}></ngx-mat-select-search>
        </mat-option>
        <mat-option *ngFor="let produitList of filteredProduitList | async" [value]="produitList.RefProduit">{{produitList.Libelle}}</mat-option>
      </mat-select>
      <button *ngIf="form.get('ProduitList').value && form.get('ProduitList').enabled"
              matIconSuffix mat-icon-button aria-label="Supprimer" (click)="$event.stopPropagation();  onProduitDeselected();" tabindex="-1" type="button">
        <mat-icon>close</mat-icon>
      </button>
      <mat-error align="end" *ngIf="(form.get('ProduitList').touched || form.get('ProduitList').dirty) && form.get('ProduitList').errors?.required">{{applicationUserContext.getCulturedRessourceText(293)}}</mat-error>
    </mat-form-field>
    <mat-checkbox formControlName="Interdit" style="width:100%;" *ngIf="entite?.EntiteType?.LiaisonEntiteProduitInterdit">
      {{applicationUserContext.getCulturedRessourceText(1173)}}
    </mat-checkbox>
    <mat-form-field style="width:100%;">
      <mat-label>{{applicationUserContext.getCulturedRessourceText(104)}}</mat-label>
      <textarea matInput formControlName="Cmt" maxlength="500" style="height:90px;"></textarea>
      <button *ngIf="form.get('Cmt').value && form.get('Cmt').enabled" matIconSuffix
              mat-icon-button aria-label="Supprimer" (click)="form.get('Cmt').setValue(null)" tabindex="-1" type="button">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </form>
  <footer class="ev-footer"></footer>
</div>

