

.fixed_headers {
  width: 1205px;
  min-width: 1205px;
  max-width: 1205px;
  table-layout: fixed;
  border-collapse: collapse;

  td:nth-child(1), th:nth-child(1) {
    min-width: 235px;
    max-width: 235px;
    width: 235px;
    box-sizing: border-box;
  }

  td:nth-child(2), th:nth-child(2) {
    min-width: 200px;
    max-width: 200px;
    width: 200px;
    box-sizing: border-box;
  }

  td:nth-child(3), th:nth-child(3) {
    min-width: 200px;
    max-width: 200px;
    width: 200px;
    box-sizing: border-box;
  }

  td:nth-child(4), th:nth-child(4) {
    min-width: 200px;
    max-width: 200px;
    width: 200px;
    box-sizing: border-box;
  }

  td:nth-child(5), th:nth-child(5) {
    min-width: 305px;
    max-width: 305px;
    width: 305px;
    box-sizing: border-box;
  }

  td:nth-child(6), th:nth-child(6) {
    min-width: 45px;
    box-sizing: border-box;
  }

  thead {

    tr {
      display: block;
      position: relative;
    }

    th {
      text-align: left;
    }
  }

  tbody {
    display: block;
    overflow: auto;
    width: 1205px;
    min-width: 1205px;
    max-width: 1205px;
    height: 630px;
  }
}
