
.contact-adresse-services-fonctions {
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  table-layout: fixed;
  border-collapse: collapse;

  td:nth-child(1), th:nth-child(1) {
    min-width: 50px;
    max-width: 50px;
    width: 50px;
    box-sizing: border-box;
  }

  td:nth-child(2), th:nth-child(2) {
    min-width: 255px;
    max-width: 255px;
    width: 255px;
    box-sizing: border-box;
  }

  td:nth-child(3), th:nth-child(3) {
    min-width: 50px;
    max-width: 50px;
    width: 50px;
    box-sizing: border-box;
  }

  thead {

    tr {
      display: block;
      position: relative;
    }

    th {
      text-align: left;
    }
  }

  tbody {
    display: block;
    overflow: auto;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    height: 200px;
    min-height: 200px;
    max-height: 200px;
  }
}
