<div class="ev-main-container">
  <header>
    <div class="ev-taskbar-container">
      <div class="ev-taskbar-left-container">
        <button mat-raised-button color="primary" [disabled]="form.invalid" class="ev-button-left" type="button" (click)="onSave()"
                *ngIf="!locked">
          {{applicationUserContext.getCulturedRessourceText(45)}}
        </button>
      </div>
      <div class="ev-taskbar-right-container">
        <button mat-raised-button color="warn" class="ev-button-left" type="button" mat-dialog-close="">
          {{applicationUserContext.getCulturedRessourceText(133)}}
        </button>
      </div>
    </div>
  </header>
  <div class="mat-dialog-content">
    <form id="MyForm" [formGroup]="form" class="ev-dataform-container">
      <div class="boxNormalSize">
        <table class="cadre_primary">
          <tr>
            <td class="cadre_header_primary"></td>
          </tr>
          <tr>
            <td class="cadre_body">
              <mat-form-field style="width:100%;">
                <mat-label>{{applicationUserContext.getCulturedRessourceText(1020)}}</mat-label>
                <mat-select formControlName="ContratTypeList" required [errorStateMatcher]="matcher">
                  <mat-option *ngFor="let contratType of contratTypeList" [value]="contratType?.RefContratType">{{contratType.Libelle}}</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field style="width:100%;">
                <mat-label>{{applicationUserContext.getCulturedRessourceText(1546)}}</mat-label>
                <input matInput formControlName="IdContrat" maxlength="50" required [errorStateMatcher]="matcher" />
                <button *ngIf="form.get('IdContrat').value!=null && form.get('IdContrat').enabled" matIconSuffix mat-icon-button aria-label="Supprimer" (click)="form.get('Libelle').setValue(null)" tabindex="-1" type="button">
                  <mat-icon>close</mat-icon>
                </button>
                <mat-error align="end" *ngIf="(form.get('IdContrat').touched || form.get('IdContrat').dirty) && form.get('IdContrat').errors?.required">{{applicationUserContext.getCulturedRessourceText(293)}}</mat-error>
              </mat-form-field>
              <mat-form-field class="ev-date-picker" style="width:100%;">
                <mat-label>{{applicationUserContext.getCulturedRessourceText(212)}}</mat-label>
                <input matInput [matDatepicker]="pickerDDebut" formControlName="DDebut" required [errorStateMatcher]="matcher">
                <mat-datepicker-toggle matIconPrefix [for]="pickerDDebut"></mat-datepicker-toggle>
                <mat-datepicker #pickerDDebut></mat-datepicker>
                <button *ngIf="form.get('DDebut').value && form.get('DDebut').enabled"
                        matIconSuffix mat-icon-button aria-label="Supprimer" tabindex="-1" type="button" (click)="form.get('DDebut').setValue(null)">
                  <mat-icon>close</mat-icon>
                  <mat-error align="end" *ngIf="form.get('DDebut').errors?.required">{{applicationUserContext.getCulturedRessourceText(293)}}</mat-error>
                </button>
              </mat-form-field>
              <mat-form-field class="ev-date-picker" style="width:100%;">
                <mat-label>{{applicationUserContext.getCulturedRessourceText(213)}}</mat-label>
                <input matInput [matDatepicker]="pickerDFin" formControlName="DFin" required [errorStateMatcher]="matcher">
                <mat-datepicker-toggle matIconPrefix [for]="pickerDFin"></mat-datepicker-toggle>
                <mat-datepicker #pickerDFin></mat-datepicker>
                <button *ngIf="form.get('DFin').value && form.get('DFin').enabled"
                        matIconSuffix mat-icon-button aria-label="Supprimer" tabindex="-1" type="button" (click)="form.get('DFin').setValue(null)">
                  <mat-icon>close</mat-icon>
                  <mat-error align="end" *ngIf="form.get('DFin').errors?.required">{{applicationUserContext.getCulturedRessourceText(293)}}</mat-error>
                </button>
              </mat-form-field>
              <mat-form-field style="width:100%;">
                <mat-label>{{applicationUserContext.getCulturedRessourceText(104)}}</mat-label>
                <textarea matInput formControlName="Cmt" maxlength="500" style="height:300px;"></textarea>
                <button *ngIf="form.get('Cmt').value && form.get('Cmt').enabled" matIconSuffix mat-icon-button aria-label="Supprimer" (click)="form.get('Cmt').setValue(null)" tabindex="-1" type="button">
                  <mat-icon>close</mat-icon>
                </button>
              </mat-form-field>
            </td>
          </tr>
        </table>
      </div>
      <div class="boxNormalSize">
        <table class="cadre_primary">
          <tr>
            <td class="cadre_header_primary"></td>
          </tr>
          <tr>
            <td class="cadre_body">
              <mat-checkbox formControlName="Avenant" style="width:100%;">
                {{applicationUserContext.getCulturedRessourceText(1177)}}
              </mat-checkbox>
              <mat-checkbox formControlName="ReconductionTacite" style="width:100%;">
                {{applicationUserContext.getCulturedRessourceText(1544)}}
              </mat-checkbox>
              <table class="contrat-entites table-no-pad-no-space" style="border:1px solid black; margin: 0 0 10px 0;">
                <thead class="background-color-accent">
                  <tr style="width:100%;">
                    <th style="padding:5px;">
                      <button mat-icon-button *ngIf="!locked"
                              (click)="showDetails();" type="button">
                        <mat-icon aria-label="Nouveau" class="ev-button-left">add</mat-icon>
                      </button>
                    </th>
                    <th style="padding:5px;">{{applicationUserContext.getCulturedRessourceText(1124)}}</th>
                    <th style="padding:5px;"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let cE of contrat?.ContratEntites">
                    <td style="padding: 0px 5px 0px 5px;"></td>
                    <td style="padding: 0px 5px 0px 5px;">{{cE.Entite?.Libelle}}</td>
                    <td style="padding: 0px 5px 0px 5px;">
                      <button mat-icon-button *ngIf="!locked"
                              (click)="onDeleteContratEntite(cE.RefContratEntite)" type="button">
                        <mat-icon aria-label="Delete" color="warn">delete</mat-icon>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
        </table>
      </div>
    </form>
  </div>
  <footer class="ev-footer"></footer>
</div>

