<div class="ev-main-container">
  <header>
    <form [formGroup]="form">
      <div class="ev-taskbar-container">
        <div class="ev-taskbar-left-container">
          <mat-form-field class="ev-control-left" style="width:200px;">
            <mat-label>{{applicationUserContext.getCulturedRessourceText(313)}}</mat-label>
            <mat-select multiple formControlName="CamionTypeList" [compareWith]="compareFnCamionType">
              <mat-option *ngFor="let camionType of camionTypeList" [value]="camionType.RefCamionType">{{camionType.Libelle}}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="ev-control-left" style="width:200px;">
            <mat-label>{{applicationUserContext.getCulturedRessourceText(311)}}</mat-label>
            <mat-select multiple formControlName="VilleArriveeList" [compareWith]="compareFnVilleArrivee">
              <mat-option *ngFor="let ville of villeArriveeList" [value]="ville">{{ville.Ville}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="ev-taskbar-right-container">
          <button mat-icon-button (click)="applyFilter()" matTooltip={{applicationUserContext.getCulturedRessourceText(492)}} class="ev-button-right" type="submit"><mat-icon aria-label="Filtrer">search</mat-icon></button>
        </div>
      </div>
    </form>
  </header>
  <div class="mat-dialog-content" style="max-height: 60vh; overflow-y: auto;">
    <div class="ev-datatable-container mat-elevation-z2" style="padding: 0 10px 0 10px;">
      <mat-table [dataSource]="cibles" matSort style="display: block; width: 100%;">
        <ng-container matColumnDef="Client">
          <mat-header-cell *matHeaderCellDef mat-sort-header style="padding:5px; width:15%;">{{applicationUserContext.getCulturedRessourceText(16)}}</mat-header-cell>
          <mat-cell *matCellDef="let item" style="padding: 5px; width: 15%;">{{item.Client}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="ResteALivrer">
          <mat-header-cell *matHeaderCellDef mat-sort-header style="padding: 5px; width: 8%;">{{applicationUserContext.getCulturedRessourceText(490)}}</mat-header-cell>
          <mat-cell *matCellDef="let item" style="padding: 5px; width: 8%;">{{item.ResteALivrer}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="Positionne">
          <mat-header-cell *matHeaderCellDef mat-sort-header style="padding: 5px; width: 8%;">{{applicationUserContext.getCulturedRessourceText(491)}}</mat-header-cell>
          <mat-cell *matCellDef="let item" style="padding: 5px; width: 8%;">{{item.Positionne}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="Ville">
          <mat-header-cell *matHeaderCellDef mat-sort-header style="padding: 5px; width: 15%;">{{applicationUserContext.getCulturedRessourceText(246)}}</mat-header-cell>
          <mat-cell *matCellDef="let item" style="padding: 5px; width: 15%;">{{item.Ville}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="Transporteur">
          <mat-header-cell *matHeaderCellDef mat-sort-header style="padding: 5px; width: 15%;">{{applicationUserContext.getCulturedRessourceText(255)}}</mat-header-cell>
          <mat-cell *matCellDef="let item" style="padding: 5px; width: 15%;">{{item.Transporteur}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="NbTransportIdentique">
          <mat-header-cell *matHeaderCellDef mat-sort-header style="padding: 5px; width: 8%;">{{applicationUserContext.getCulturedRessourceText(728)}}</mat-header-cell>
          <mat-cell *matCellDef="let item" style="padding: 5px; width: 8%;">{{item.NbTransportIdentique}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="CamionType">
          <mat-header-cell *matHeaderCellDef mat-sort-header style="padding: 5px; width: 15%;">{{applicationUserContext.getCulturedRessourceText(250)}}</mat-header-cell>
          <mat-cell *matCellDef="let item" style="padding: 5px; width: 15%;">{{item.CamionType}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="PUHT">
          <mat-header-cell *matHeaderCellDef mat-sort-header style="padding: 5px; width: 8%;">{{applicationUserContext.getCulturedRessourceText(252)}}</mat-header-cell>
          <mat-cell *matCellDef="let item" style="padding: 5px; width: 8%;">{{item.PUHT}}{{item.PUHT?'€':''}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="Km">
          <mat-header-cell *matHeaderCellDef mat-sort-header style="padding: 5px; width: 8%;">{{applicationUserContext.getCulturedRessourceText(323)}}</mat-header-cell>
          <mat-cell *matCellDef="let item" style="padding: 5px; width: 8%;">{{item.Km}}</mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true" style="width:100%;"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="coloredCible(row)" (click)="chooseCible(row)" style="width:100%; cursor:pointer;"></mat-row>
      </mat-table>
    </div>
  </div>
  <footer class="ev-footer"></footer>
</div>
