<div class="ev-main-container">
  <header>
    <form [formGroup]="form">
      <div class="ev-taskbar-container">
        <div class="ev-taskbar-left-container">
          <mat-form-field class="ev-control-left" style="width:200px;">
            <mat-label>{{applicationUserContext.getCulturedRessourceText(313)}}</mat-label>
            <mat-select multiple formControlName="CamionTypeList" [compareWith]="compareFnCamionType">
              <mat-option *ngFor="let camionType of camionTypeList" [value]="camionType.RefCamionType">{{camionType.Libelle}}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="ev-control-left" style="width:200px;">
            <mat-label>{{applicationUserContext.getCulturedRessourceText(311)}}</mat-label>
            <mat-select multiple formControlName="VilleArriveeList" [compareWith]="compareFnVilleArrivee">
              <mat-option *ngFor="let ville of villeArriveeList" [value]="ville">{{ville.Ville}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="ev-taskbar-right-container">
          <button mat-icon-button (click)="applyFilter()" matTooltip={{applicationUserContext.getCulturedRessourceText(492)}} class="ev-button-right" type="submit"><mat-icon aria-label="Filtrer">search</mat-icon></button>
        </div>
      </div>
    </form>
  </header>
  <div class="mat-dialog-content">
    <div class="ev-datatable-container mat-elevation-z2">
      <table style="display: block; width: 100%;">
        <thead style="display:table-header-group; width:100%;">
          <tr style="width:100%;">
            <th style="padding:5px; width:15%;">{{applicationUserContext.getCulturedRessourceText(16)}}</th>
            <th style="padding: 5px; width: 8%;">{{applicationUserContext.getCulturedRessourceText(490)}}</th>
            <th style="padding: 5px; width: 8%;">{{applicationUserContext.getCulturedRessourceText(491)}}</th>
            <th style="padding: 5px; width: 15%;">{{applicationUserContext.getCulturedRessourceText(246)}}</th>
            <th style="padding: 5px; width: 15%;">{{applicationUserContext.getCulturedRessourceText(255)}}</th>
            <th style="padding: 5px; width: 8%;">{{applicationUserContext.getCulturedRessourceText(728)}}</th>
            <th style="padding: 5px; width: 15%;">{{applicationUserContext.getCulturedRessourceText(250)}}</th>
            <th style="padding: 5px; width: 8%;">{{applicationUserContext.getCulturedRessourceText(252)}}</th>
            <th style="padding: 5px; width: 8%;">{{applicationUserContext.getCulturedRessourceText(323)}}</th>
          </tr>
        </thead>
        <tbody style="max-height: 60vh; overflow-y: auto; display: block; width:100%;">
          <tr *ngFor="let item of cibles" [class]="coloredCible(item)" (click)="chooseCible(item)" style="width:100%;">
            <td style="padding: 5px; width: 15%;">{{item.Client}}</td>
            <td style="padding: 5px; width: 8%;">{{item.ResteALivrer}}</td>
            <td style="padding: 5px; width: 8%;">{{item.Positionne}}</td>
            <td style="padding: 5px; width: 15%;">{{item.Ville}}</td>
            <td style="padding: 5px; width: 15%;">{{item.Transporteur}}</td>
            <td style="padding: 5px; width: 8%;">{{item.NbTransportIdentique}}</td>
            <td style="padding: 5px; width: 15%;">{{item.CamionType}}</td>
            <td style="padding: 5px; width: 8%;">{{item.PUHT}}{{item.PUHT?'€':''}}</td>
            <td style="padding: 5px; width: 8%;">{{item.Km}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <footer class="ev-footer"></footer>
</div>
