<div class="ev-main-container">
  <header>
    <div class="ev-taskbar-container">
      <div class="ev-taskbar-left-container">
        <button mat-icon-button (click)="onBack()" type="button"><mat-icon aria-label="Retour" class="ev-button-left">navigate_before</mat-icon></button>
        <mat-icon class="ev-button-left color-tooltip-info-icon" [matTooltip]="getCreationModificationTooltipText()">info</mat-icon>
        <aide-bouton (clicked)="visibleAide=true" *ngIf="hasAide"></aide-bouton>
        <button mat-raised-button color="primary" class="ev-button-left" type="button" form="MyForm" [disabled]="form.invalid"
                (click)="onSave()">
          {{applicationUserContext.getCulturedRessourceText(6)}}
        </button>
      </div>
      <div class="ev-taskbar-right-container">
        <button *ngIf="aide.RefAide" mat-raised-button color="warn" (click)="onDelete()" class="ev-button-right" type="button">{{applicationUserContext.getCulturedRessourceText(13)}}</button>
      </div>
    </div>
  </header>
  <form id="MyForm" [formGroup]="form" class="ev-dataform-container">
    <div class="boxDoubleSize">
      <table class="cadre_primary">
        <tr>
          <td class="cadre_header_primary">
            {{applicationUserContext.getCulturedRessourceText(1518)}}
          </td>
        </tr>
        <tr>
          <td class="cadre_body">
            <mat-form-field style="width:100%;">
              <mat-label>{{applicationUserContext.getCulturedRessourceText(595)}}</mat-label>
              <mat-select formControlName="EnvComponentList" required [errorStateMatcher]="matcher">
                <mat-option *ngFor="let envComponent of envComponents" [value]="envComponent.name">{{applicationUserContext.getCulturedRessourceText(envComponent.ressLibel)}}</mat-option>
              </mat-select>
              <mat-error align="end" *ngIf="form.get('EnvComponentList').errors?.required">{{applicationUserContext.getCulturedRessourceText(293)}}</mat-error>
            </mat-form-field>
            <kendo-editor formControlName="ValeurHTML" style="height: 580px; width:100%;">
              <kendo-toolbar>
                <kendo-toolbar-buttongroup>
                  <kendo-toolbar-button kendoEditorBoldButton></kendo-toolbar-button>
                  <kendo-toolbar-button kendoEditorItalicButton></kendo-toolbar-button>
                  <kendo-toolbar-button kendoEditorUnderlineButton></kendo-toolbar-button>
                </kendo-toolbar-buttongroup>
                <kendo-toolbar-buttongroup>
                  <kendo-toolbar-button kendoEditorAlignLeftButton></kendo-toolbar-button>
                  <kendo-toolbar-button kendoEditorAlignCenterButton></kendo-toolbar-button>
                  <kendo-toolbar-button kendoEditorAlignRightButton></kendo-toolbar-button>
                  <kendo-toolbar-button kendoEditorAlignJustifyButton></kendo-toolbar-button>
                </kendo-toolbar-buttongroup>
                <kendo-toolbar-dropdownlist kendoEditorFontSize></kendo-toolbar-dropdownlist>
                <kendo-toolbar-dropdownlist kendoEditorFontFamily [data]="kendoFontData"></kendo-toolbar-dropdownlist>
                <kendo-toolbar-colorpicker kendoEditorForeColor></kendo-toolbar-colorpicker>
                <kendo-toolbar-colorpicker kendoEditorBackColor></kendo-toolbar-colorpicker>
                <kendo-toolbar-buttongroup>
                  <kendo-toolbar-button kendoEditorInsertUnorderedListButton></kendo-toolbar-button>
                  <kendo-toolbar-button kendoEditorInsertOrderedListButton></kendo-toolbar-button>
                </kendo-toolbar-buttongroup>
                <kendo-toolbar-buttongroup>
                  <kendo-toolbar-button kendoEditorCreateLinkButton></kendo-toolbar-button>
                  <kendo-toolbar-button kendoEditorUnlinkButton></kendo-toolbar-button>
                </kendo-toolbar-buttongroup>
                <kendo-toolbar-button kendoEditorViewSourceButton></kendo-toolbar-button>
              </kendo-toolbar>
              <kendo-editor-messages [bold]="applicationUserContext.getCulturedRessourceText(1479)"
                                     [italic]="applicationUserContext.getCulturedRessourceText(1480)"
                                     [underline]="applicationUserContext.getCulturedRessourceText(1481)"
                                     [alignLeft]="applicationUserContext.getCulturedRessourceText(1482)"
                                     [alignCenter]="applicationUserContext.getCulturedRessourceText(1483)"
                                     [alignRight]="applicationUserContext.getCulturedRessourceText(1484)"
                                     [alignJustify]="applicationUserContext.getCulturedRessourceText(1485)"
                                     [fontFamily]="applicationUserContext.getCulturedRessourceText(1486)"
                                     [fontSize]="applicationUserContext.getCulturedRessourceText(1487)"
                                     [foreColor]="applicationUserContext.getCulturedRessourceText(1488)"
                                     [backColor]="applicationUserContext.getCulturedRessourceText(1494)"
                                     [insertOrderedList]="applicationUserContext.getCulturedRessourceText(1489)"
                                     [insertUnorderedList]="applicationUserContext.getCulturedRessourceText(1490)"
                                     [createLink]="applicationUserContext.getCulturedRessourceText(1491)"
                                     [unlink]="applicationUserContext.getCulturedRessourceText(1492)"
                                     [viewSource]="applicationUserContext.getCulturedRessourceText(1493)"
                                     [dialogUpdate]="applicationUserContext.getCulturedRessourceText(682)"
                                     [dialogCancel]="applicationUserContext.getCulturedRessourceText(133)"
                                     [dialogInsert]="applicationUserContext.getCulturedRessourceText(598)"
                                     [linkOpenInNewWindow]="applicationUserContext.getCulturedRessourceText(1496)"
                                     [linkText]="applicationUserContext.getCulturedRessourceText(1497)"
                                     [linkTitle]="applicationUserContext.getCulturedRessourceText(1149)"
                                     [linkWebAddress]="applicationUserContext.getCulturedRessourceText(1495)"></kendo-editor-messages>
            </kendo-editor>
          </td>
        </tr>
      </table>
    </div>
  </form>
  <footer class="ev-footer"></footer>
</div>
<aide-conteneur [safeValeurHTML]="safeValeurHTML" (askClose)="visibleAide=false" *ngIf="visibleAide"></aide-conteneur>

