<div class="ev-main-container">
  <header>
    <div class="ev-taskbar-container">
      <div class="ev-taskbar-left-container">
        <button mat-icon-button (click)="onBack()" type="button"><mat-icon aria-label="Retour" class="ev-button-left">navigate_before</mat-icon></button>
        <button mat-raised-button color="primary" class="ev-button-left" type="button" (click)="onSave()" form="MyForm" [disabled]="form.invalid" *ngIf="!locked">{{applicationUserContext.getCulturedRessourceText(701)}}</button>
      </div>
    </div>
  </header>
  <form id="MyForm" [formGroup]="form" class="ev-horizontal-container">
    <div class="boxNormalSize">
      <table class="cadre_primary">
        <tr>
          <td class="cadre_header_primary">
            {{applicationUserContext.getCulturedRessourceText(697)}}
          </td>
        </tr>
        <tr>
          <td class="cadre_body">
            <mat-form-field style="width:100%;">
              <mat-label>{{applicationUserContext.getCulturedRessourceText(697)}}</mat-label>
              <mat-select formControlName="ExportSAGETypeList" (selectionChange)="onExportSAGETypeSelected()"
                          required [errorStateMatcher]="matcher">
                <mat-option *ngFor="let exportSAGEType of exportSAGETypeList" [value]="exportSAGEType.t">{{exportSAGEType.name}}</mat-option>
              </mat-select>
              <mat-error align="end" *ngIf="(form.get('ExportSAGETypeList').touched || form.get('ExportSAGETypeList').dirty) && form.get('ExportSAGETypeList').errors?.required">{{applicationUserContext.getCulturedRessourceText(293)}}</mat-error>
            </mat-form-field>
            <mat-form-field style="width:100%;" *ngIf="form.get('ExportSAGETypeList').value==='AchatVente'">
              <mat-label>{{applicationUserContext.getCulturedRessourceText(571)}}</mat-label>
              <mat-select formControlName="MonthList"
                          required [errorStateMatcher]="matcher">
                <mat-option *ngFor="let month of monthList" [value]="month.d">{{month.name}}</mat-option>
              </mat-select>
              <mat-error align="end" *ngIf="(form.get('MonthList').touched || form.get('MonthList').dirty) && form.get('MonthList').errors?.required">{{applicationUserContext.getCulturedRessourceText(293)}}</mat-error>
            </mat-form-field>
            <mat-form-field style="width:100%;" *ngIf="form.get('ExportSAGETypeList').value==='NoteCredit'">
              <mat-label>{{applicationUserContext.getCulturedRessourceText(696)}}</mat-label>
              <mat-select formControlName="QuarterList"
                          required [errorStateMatcher]="matcher">
                <mat-option *ngFor="let quarter of quarterList" [value]="quarter.n">{{quarter.name}}</mat-option>
              </mat-select>
              <mat-error align="end" *ngIf="(form.get('QuarterList').touched || form.get('QuarterList').dirty) && form.get('QuarterList').errors?.required">{{applicationUserContext.getCulturedRessourceText(293)}}</mat-error>
            </mat-form-field>
            <mat-form-field style="width:100%;">
              <mat-label>{{applicationUserContext.getCulturedRessourceText(569)}}</mat-label>
              <mat-select formControlName="YearList"
                          required [errorStateMatcher]="matcher">
                <mat-option *ngFor="let year of yearList" [value]="year.y">{{year.y}}</mat-option>
              </mat-select>
              <mat-error align="end" *ngIf="(form.get('YearList').touched || form.get('YearList').dirty) && form.get('YearList').errors?.required">{{applicationUserContext.getCulturedRessourceText(293)}}</mat-error>
            </mat-form-field>
          </td>
        </tr>
      </table>
    </div>
  </form>
  <footer class="ev-footer"></footer>
</div>

