

.fixed_headers {
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  table-layout: fixed;
  border-collapse: collapse;

  td:nth-child(1), th:nth-child(1) {
    min-width: 100%;
    max-width: 100%;
    width: 100%;
    box-sizing: border-box;
  }

  td:nth-child(2), th:nth-child(2) {
    min-width: 200px;
    box-sizing: border-box;
  }

  thead {

    tr {
      display: block;
      position: relative;
    }

    th {
      text-align: left;
    }
  }

  tbody {
    display: block;
    overflow: auto;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    height: 630px;
  }
}
